@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Noto+Sans:wght@400;900&family=Rubik:wght@600;700&family=Revalia&family=Raleway:wght@500&display=swap');

* {
  font-family: Noto Sans;
  text-align: center;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0 auto 0 auto;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 750px) {
  body {
    width: 650px;
  }
}
